@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --selection-bg: #404040;
  --selection-fg: var(--background);
  --input-selection: #404040;
}

html.dark {
  --background: #1a1a1a;
  --foreground: #ededed;
  --selection-bg: #ffffff;
  --selection-fg: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  
  font-family: var(--font-jetbrains-mono), 'Consolas', Arial, Helvetica, sans-serif;

  ::selection {
    background: var(--selection-bg);
    color: var(--selection-fg);
  }
}

a {
  font-family: var(--font-geist-sans);
}

h1 {
  font-family: var(--font-geist-sans);
}
